* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.gallery {
    padding: 50px 8%;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.gallery .images {
    text-align: center;
}

.popup-overlay {
    background-color: rgba(0, 0, 0, .7);
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
}

.popup-box {
    padding: 20px;
    background-color: #FFF;
    border: 1px solid #CCC;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.popup-box h3 {
    margin: 0 0 20px;
    color: #e91e63;
    text-align: center;
    font-weight: bold;
}

.popup-box img {
    max-width: 100%;
}

.popup-box .close-button {
    font-family: Arial, Tahoma, sans-serif;
    height: 40px;
    width: 40px;
    line-height: 40px;
    color: #FFF;
    background-color: #e91e63;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    right: -15px;
    cursor: pointer;
}